sup{
    margin-left: 7px;
    font-size: 11px;
     background: -webkit-linear-gradient(left, hotpink , );
   background: -o-linear-gradient(right, red, hotpink);
   background: -moz-linear-gradient(right, red, hotpink);
   background: linear-gradient(to right, red , hotpink); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
    
}img{
    height: 55px;
    width: auto

}

.navbar-toggler{
border: 0px;
width: 60px;
    
    
    
}
.navbar-toggler-icon{
    height: 35px
}



.navbar{
    padding-bottom: 0px;
      box-shadow:  0px 3px 4px rgba(0,0,0,0.15);
    margin-bottom: 0px;
      padding-left: 0px;
   

    
    
}
.fb{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px
}

.nav-link{
   margin-left: 40px;
    margin-right: 10px
   
    
    
    
}


.nav-link:hover{
    color:lightgreen !important
}





ul{
    list-style: none;

   
    
     
}


.li{margin-left: 10px;
    margin-right: 10px
}







footer{
     background-color:#202021 ;
    
Padding-bottom:1px;
Padding-top:20px;
Line-height:25px;
    
     height="5px";
    text-align: center;
    margin-top: 50px
}

.last{color:white;
font-size:px;
margin-bottom:20px;
margin-top:90px;
}

a.last:hover{
    color: black
}
#legal{
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
    margin-left: 12px;
    color: white;
    margin-top: 10px
}
.social {
    width: inherit;
    height: 25px;
    margin-top:20px; 
    margin-right: 10px;
    margin-left: 10px
}



#hard{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
 padding-right: 6px;
    margin-top: 50px;
    color: 
    
}

#vision{
    text-align: center;
    font-size: 30px;

    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: bold
   
    
}

#word{
    text-align: center;
   
     background-color#dbffe2;
    margin-top: 0px;
    color: ;
    margin-left: 10px;
    margin-right: 10px
    
}

#ready{ text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px
}


#career{
    text-align: center
}

#join{
    text-align: center;
    color: gray
}

#team{
    text-align: center;
    font-size: 30px;
  margin-top: 50px;
    margin-bottom: 50px;
   padding-bottom: 0px;
    font-weight: bold;
    
    
}


   
.horizontal{
   

   display: flex;
  flex-wrap: wrap;
    justify-content: center;
  padding-top: 0px;
    
  
   
   
   
}
.image2{
    width: 170px;
    height: 170px;
    margin-left: 100px;
    margin-right:100px;
    border-radius: 50%;
    border: 3px solid p ;
     border-bottom: solid 5px skyblue ;
    border-right: solid 5px skyblue 
   
  
  
    
}

.image2a{
    width: 170px;
    height: 170px;
    margin-left: 100px;
    margin-right:100px;
    border-radius: 50%;
    border: 3px solid p ;
     border-bottom: solid 5px skyblue ;
    border-left: solid 5px skyblue 
   
  
  
    
}
.item{
text-align: center;
 
    margin: 10px;
    margin-right: 10px;
}

.safe21{color:gray;
    font-weight: 100;
    margin-top: 0px;
    font-weight: 400
   
    
 }

.hi{
    margin-top:19px;
    font-weight: bold
}
