sup{
    margin-left: 7px;
    font-size: 11px;
     background: -webkit-linear-gradient(left, hotpink , );
   background: -o-linear-gradient(right, red, hotpink);
   background: -moz-linear-gradient(right, red, hotpink);
   background: linear-gradient(to right, red , hotpink); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
    
}img{
    height: 55px;

}.navbar-toggler{
border: 0px;
width: 60px
    
    
}
.navbar-toggler-icon{
    height: 35px
}

body{
    background-color:white;
        margin:0px;
    padding: 0px;
    height:100%;
    width: 100%
    
}









li{
    margin-left: 10px;
    margin-right: 0px
}


.nav-link{
    margin-left: 28px;
    margin-right: 10px
    
    
}
.navbar{
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  
      box-shadow:  0px 3px 4px rgba(0,0,0,0.15);
  
 padding-left: 0px;
    

  

    
    
}







.blog{
    text-align: center;
   
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
  
    margin-bottom: 600px
}

.text{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    
    margin-top: 30px;
    
}



footer{
    background-color: #f7f8fa;
    
Padding-bottom:1px;
Padding-top:30px;
Line-height:25px;
    
     height="5px";
    
    margin-top: 200px
}



.last{color:black;
    text-align:right;

    margin-top: 1px;
   
    
 
   

}



#legal{
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 12px;
    color: grey;
    margin-top: 10px
}
.social {
    width: inherit;
    height: 25px;
    justify-content: center;
  
    margin-right: 0px;
    margin-left: 70px;
    margin-bottom: 10px
}

topsocial{
    margin-left: 20px;
}

.okay2{
      width:200px;
    height: inherit;
    
      margin-top: 0px;
    
    max-width: 100%; 
    height: auto; 
  margin-left: 75px
 
 
    
}

.hi{
    text-align: center;
    margin-top: 0px;
    font-weight: 490
}








