.whatsapp{
    
right: 20px;
bottom: 20px;

  position: fixed;
    
      -webkit-filter: drop-shadow(1px 1px 1px #122);
  filter: drop-shadow(px px 1px #222);
    
}

.navbar-toggler{
border: 0px;
width: 60px;

    
    
}
.navbar-toggler-icon{
    height: 35px
}

.navbar{
    padding-bottom: 0px;
    
    padding-left: 0px;
      box-shadow:  0px 3px 4px rgba(0,0,0,0.15);
  

    
    
}

img{
    height: 55px;

}
.nav-link{
    margin-left: 40px;
    
}




li{
  margin-left: 0px;
    margin-right: 10px;
}




header{
    background-color: white;
    padding: 20px;
    margin: 0px
}
  

body{
    background-color:white;
        margin:0px;
    padding: 0px;
    height:100% 
    
}

h1{ color:;
    padding-bottom:70px;
    padding-top:100px;
    margin: 0px;
  
    text-align: left;
 
    padding-left: 12%;
    
   

    font-size: 40px;
 background-image: linear-gradient(to bottom, #c8e7f7,white)
    
}


footer{
    background-color:#202021  ;
    
Padding-bottom:1px;
Padding-top:30px;
Line-height:25px;
    
    width="5px" height="5px";
    text-align: center;
    margin-top: 30px
}

.last{color:white;
font-size:px;
margin-bottom:20px;
margin-top:90px;
}




h4{color:black;
}




ul{
    list-style: none;
    
   
    margin-bottom: 20px;
    
     
}
















.vijay{
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    
}



.okay{
    width:200px;
    height: inherit;
    
      margin-top: 40px;
    
    max-width: 100%; 
    height: auto; 
 
 
  
    
}




.item{
text-align: center;
 
    margin: 10px
}

.safe{color:gray;
    font-weight: 100;
    margin-top: 150px;
     
 }

.safe2{color:gray;
    font-weight: 100;
    margin-top: 150px;
    padding-top: 80px;
    
 }

.safe21{color:;
   
    margin-top: 0px;
    font-weight: 
   
    
 }

.safe22{color:;
   
    margin-top: 0px;
    font-weight: 
   
    
 }
.hi{
    margin-top:19px;
    font-weight: 500;
    font-size: 17px
}
.hi3{
    font-size: 16px;
    margin: 2px;
   
    margin-top: 20px;
    text-align: center;
    padding-bottom: 10px
}

.item3{
 
  margin-top: 20px;
   
   
    background-color: white;
   

    margin-left: 60px;
    margin-right: 60px;
    border-bottom: 3px solid skyblue
   
    
}


.social {
    width: inherit;
    height: 25px;
    margin-top:20px; 
    margin-right: 10px;
    margin-left: 10px
}
      

        
.steps {
   
    font-size: 20px;
    margin: 20px
}
        
        
        
        
 

.children{
    background-color:linear-gradient(to right,lightgray,white);
    background-image: url(https://miro.medium.com/max/2800/1*ftYXPbT-i19JxoUToHrUoQ.png);

 padding: 212px;




    
    margin-bottom: 30px
    
   

    
}
        
.horizontal{
   

   display: flex;
  flex-wrap: wrap;
    justify-content: center;
  padding-top: 0px;
    
    
  
   
   
   
}
.horizontal2{
   

   display: flex;
  flex-wrap: wrap;
    justify-content: center;
  padding-top: 40px;
    padding-bottom: 30px;

   
    
  
   
   
   
}






.horizontal3 {
    
   display: flex;
  flex-wrap: wrap;
    justify-content: center;

    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 0px;
    
  
}



.image{
    width: 90px;
    height: 90px;
    margin-left: 90px;
    margin-right:90px;
  
  
    
}

.image:hover{
    transform: rotate(360deg)
}




.image2{
    width: 70px;
    height: 70px;
    margin-left: 130px;
    margin-right:130px;
    
    
  
    
}

.image3a{
    width: 60px;
    height: 60px;

    margin-top:20px;
    margin-left: 63px;
    
  
    
}

.image3b{
    width: 60px;
    height: 60px;

    margin-top:20px;
    margin-left: 70px;
      
    
  
    
}
.image3c{
    width: 60px;
    height: 60px;
  

    margin-top:20px;
    margin-left: 35%;
  
    
}
#legal{
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
    margin-left: 12px;
    color: white;
    margin-top: 10px
}





.download{
    text-align:left;
    padding-left: 39px;
    
   
    font-size: 20px;
    color: grey
}

.ridesgo{
   
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 0px;
    
 
   
    padding-bottom: 10px;
    color: ;
    font-weight: bold;
    font-family:sans-serif;
    text-align: center

 
}

.ridesgo1{
     border-bottom: solid 5px ;
    padding-bottom: 10px;
     border-image-source:  linear-gradient(to right, white 1%, skyblue, white 100% );
      border-image-slice: 1;
   
}

  

.corona{
        font-weight:bold;
    text-align: center;
 font-size: 25px;
    padding-top: 45px;
       
 
    margin-bottom: 40px;
    
}

.corona1{
    
    color:
}


.app{
    text-align: center;
    font-size: 30px;
    font-weight:bold ;
   
    margin-bottom: 0px;
    padding-top: 30px;
    color: skyblue

}




.safe{
    color:Grey;
    
  
}


.rides{
width:90px;
height:90px
}


.your{
    text-align: center;
    padding-top: 40px;
    background-color: #fcdcfb;
    font-weight: bold;
    color: ;
    font-size: 25px;
    margin-top: 20px;
   
}



.all{
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: normal;
    margin-top: 30px;
    padding-bottom: 30px
    
}

sup{
    margin-left: 7px;
    font-size: 11px;
     background: -webkit-linear-gradient(left, hotpink , );
   background: -o-linear-gradient(right, red, hotpink);
   background: -moz-linear-gradient(right, red, hotpink);
   background: linear-gradient(to right, red , hotpink); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
    
}

